openapi: 3.0.2
info:
  title: API User
  version: "1.0"
  description: This is the service that manages the celery tasks in the app GoOutSafe
servers:
  - url: "https://api.prova/"
    variables: {}
    description: The first server used for the definition of APIs
paths:
  /mails:
    post:
      x-openapi-router-controller: microservice.api.tasks
      summary: "Send a mail"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subject:
                  type: string
                sender:
                  type: string
                recipients:
                  type: array
                  items:
                    type: string
                html_body:
                  type: string
                text_body:
                  type: string 
      responses:
        "204":
          description: "Sent"
      tags:
        - "Mail"

components:
  schemas:
    Mail:
      required:
        - subject
        - recipients
        - text_body
      type: object
      properties:
        subject:
          type: string
          description: "The subject of the mail"
          maxLength: 128
          example: "Covid info"
        recipients:
          type: array
          items:
            type: string
            description: "The mail recipients"
            example: ["Gino Pipino", "Diego Abatantuono"]
        text_body:
          type: string
          description: "The text body of the mail"
          maxLength: 128
          example: "You are infected! Prepare to die"
        html_body:
          type: string
          description: "The html body of the mail"
          example: "<h1>Nice</h1>"
        sender:
          type: string
          description: "The sender of the mail"
          example: "Pippo Puppo"
